html, body {
    min-height: 100%;
}

.gif-loader {
    position: fixed;
    z-index: 9;
    left: 50%;
    top: 50%;
}

.css-loader:before,
.css-loader:after,
.css-loader {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.css-loader {
    position: fixed;
    font-size: 10px;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.css-loader:before {
    left: -2em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.css-loader:after {
    left: 2em;
}

.css-loader:before,
.css-loader:after {
    content: '';
    position: absolute;
    top: 0;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 1em 0 -0.8em #777;
    }
    40% {
        box-shadow: 0 1em 0 0 #777;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 1em 0 -0.8em #777;
    }
    40% {
        box-shadow: 0 1em 0 0 #777;
    }
}