
/* General button style (reset) */
.btn-ef {
    border: none;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef:focus, .btn-ef:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-ef:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef.btn-ef-1 {
    background: none;
    border: 2px solid #616f77;
    color: #616f77;
}

.btn-ef.btn-ef-1.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1a.active {
    background-color: #616f77;
    color: white;
}

.btn-ef.btn-ef-1.btn-ef-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #616f77;
}

.btn-ef.btn-ef-1.btn-ef-1b:hover,
.btn-ef.btn-ef-1.btn-ef-1b:active,
.btn-ef.btn-ef-1.btn-ef-1b.active {
    color: white;
}

.btn-ef.btn-ef-1.btn-ef-1b:hover:after,
.btn-ef.btn-ef-1.btn-ef-1b:active:after,
.btn-ef.btn-ef-1.btn-ef-1b.active:after {
    height: 100%;
}

.btn-ef.btn-ef-1.btn-ef-1c:after {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #616f77;
}

.btn-ef.btn-ef-1.btn-ef-1c:hover,
.btn-ef.btn-ef-1.btn-ef-1c:active,
.btn-ef.btn-ef-1.btn-ef-1c.active {
    color: white;
}

.btn-ef.btn-ef-1.btn-ef-1c:hover:after,
.btn-ef.btn-ef-1.btn-ef-1c:active:after,
.btn-ef.btn-ef-1.btn-ef-1c.active:after {
    width: 100%;
}

.btn-ef.btn-ef-1.btn-ef-1d {
    overflow: hidden;
}

.btn-ef.btn-ef-1.btn-ef-1d:after {
    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    background: #616f77;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn-ef.btn-ef-1.btn-ef-1d:hover,
.btn-ef.btn-ef-1.btn-ef-1d:active,
.btn-ef.btn-ef-1.btn-ef-1d.active {
    color: white;
}

.btn-ef.btn-ef-1.btn-ef-1d:hover:after,
.btn-ef.btn-ef-1.btn-ef-1d:active:after,
.btn-ef.btn-ef-1.btn-ef-1d.active:after {
    width: 80%;
    opacity: 1;
}

.btn-ef.btn-ef-1.btn-ef-1d:active:after,
.btn-ef.btn-ef-1.btn-ef-1d.active:after {
    width: 101%;
    opacity: 1;
}

.btn-ef.btn-ef-1.btn-ef-1e {
    overflow: hidden;
}

.btn-ef.btn-ef-1.btn-ef-1e:after {
    width: 110%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #616f77;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-ef.btn-ef-1.btn-ef-1e:hover,
.btn-ef.btn-ef-1.btn-ef-1e:active,
.btn-ef.btn-ef-1.btn-ef-1e.active {
    color: white;
}

.btn-ef.btn-ef-1.btn-ef-1e:hover:after,
.btn-ef.btn-ef-1.btn-ef-1e:active:after,
.btn-ef.btn-ef-1.btn-ef-1e.active:after {
    height: 160%;
    opacity: 1;
}

.btn-ef.btn-ef-1.btn-ef-1e:active:after,
.btn-ef.btn-ef-1.btn-ef-1e.active:after {
    height: 400%;
    opacity: 1;
}

.btn-ef.btn-ef-1.btn-ef-1f {
    overflow: hidden;
}

.btn-ef.btn-ef-1.btn-ef-1f:after {
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #616f77;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn-ef.btn-ef-1.btn-ef-1f:hover,
.btn-ef.btn-ef-1.btn-ef-1f:active,
.btn-ef.btn-ef-1.btn-ef-1f.active {
    color: white;
}

.btn-ef.btn-ef-1.btn-ef-1f:hover:after,
.btn-ef.btn-ef-1.btn-ef-1f:active:after,
.btn-ef.btn-ef-1.btn-ef-1f.active:after {
    height: 75%;
    opacity: 1;
}

.btn-ef.btn-ef-1.btn-ef-1f:active:after,
.btn-ef.btn-ef-1.btn-ef-1f.active:after {
    height: 130%;
    opacity: 1;
}

.btn-ef.btn-ef-1.btn-ef-1-primary {
    border-color: #428bca;
    color: #428bca;
}

.btn-ef.btn-ef-1.btn-ef-1-primary.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-primary.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-primary.btn-ef-1a.active {
    background-color: #428bca;
}

.btn-ef.btn-ef-1.btn-ef-1-primary:after {
    background-color: #428bca;
}

.btn-ef.btn-ef-1.btn-ef-1-success {
    border-color: #5cb85c;
    color: #5cb85c;
}

.btn-ef.btn-ef-1.btn-ef-1-success.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-success.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-success.btn-ef-1a.active {
    background-color: #5cb85c;
}

.btn-ef.btn-ef-1.btn-ef-1-success:after {
    background-color: #5cb85c;
}

.btn-ef.btn-ef-1.btn-ef-1-warning {
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.btn-ef.btn-ef-1.btn-ef-1-warning.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-warning.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-warning.btn-ef-1a.active {
    background-color: #f0ad4e;
}

.btn-ef.btn-ef-1.btn-ef-1-warning:after {
    background-color: #f0ad4e;
}

.btn-ef.btn-ef-1.btn-ef-1-danger {
    border-color: #d9534f;
    color: #d9534f;
}

.btn-ef.btn-ef-1.btn-ef-1-danger.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-danger.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-danger.btn-ef-1a.active {
    background-color: #d9534f;
}

.btn-ef.btn-ef-1.btn-ef-1-danger:after {
    background-color: #d9534f;
}

.btn-ef.btn-ef-1.btn-ef-1-info {
    border-color: #5bc0de;
    color: #5bc0de;
}

.btn-ef.btn-ef-1.btn-ef-1-info.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-info.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-info.btn-ef-1a.active {
    background-color: #5bc0de;
}

.btn-ef.btn-ef-1.btn-ef-1-info:after {
    background-color: #5bc0de;
}

.btn-ef.btn-ef-1.btn-ef-1-cyan {
    border-color: #22beef;
    color: #22beef;
}

.btn-ef.btn-ef-1.btn-ef-1-cyan.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-cyan.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-cyan.btn-ef-1a.active {
    background-color: #22beef;
}

.btn-ef.btn-ef-1.btn-ef-1-cyan:after {
    background-color: #22beef;
}

.btn-ef.btn-ef-1.btn-ef-1-amethyst {
    border-color: #cd97eb;
    color: #cd97eb;
}

.btn-ef.btn-ef-1.btn-ef-1-amethyst.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-amethyst.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-amethyst.btn-ef-1a.active {
    background-color: #cd97eb;
}

.btn-ef.btn-ef-1.btn-ef-1-amethyst:after {
    background-color: #cd97eb;
}

.btn-ef.btn-ef-1.btn-ef-1-green {
    border-color: #a2d200;
    color: #a2d200;
}

.btn-ef.btn-ef-1.btn-ef-1-green.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-green.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-green.btn-ef-1a.active {
    background-color: #a2d200;
}

.btn-ef.btn-ef-1.btn-ef-1-green:after {
    background-color: #a2d200;
}

.btn-ef.btn-ef-1.btn-ef-1-orange {
    border-color: #ffc100;
    color: #ffc100;
}

.btn-ef.btn-ef-1.btn-ef-1-orange.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-orange.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-orange.btn-ef-1a.active {
    background-color: #ffc100;
}

.btn-ef.btn-ef-1.btn-ef-1-orange:after {
    background-color: #ffc100;
}

.btn-ef.btn-ef-1.btn-ef-1-red {
    border-color: #ff4a43;
    color: #ff4a43;
}

.btn-ef.btn-ef-1.btn-ef-1-red.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-red.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-red.btn-ef-1a.active {
    background-color: #ff4a43;
}

.btn-ef.btn-ef-1.btn-ef-1-red:after {
    background-color: #ff4a43;
}

.btn-ef.btn-ef-1.btn-ef-1-greensea {
    border-color: #16a085;
    color: #16a085;
}

.btn-ef.btn-ef-1.btn-ef-1-greensea.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-greensea.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-greensea.btn-ef-1a.active {
    background-color: #16a085;
}

.btn-ef.btn-ef-1.btn-ef-1-greensea:after {
    background-color: #16a085;
}

.btn-ef.btn-ef-1.btn-ef-1-dutch {
    border-color: #1693A5;
    color: #1693A5;
}

.btn-ef.btn-ef-1.btn-ef-1-dutch.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-dutch.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-dutch.btn-ef-1a.active {
    background-color: #1693A5;
}

.btn-ef.btn-ef-1.btn-ef-1-dutch:after {
    background-color: #1693A5;
}

.btn-ef.btn-ef-1.btn-ef-1-hotpink {
    border-color: #FF0066;
    color: #FF0066;
}

.btn-ef.btn-ef-1.btn-ef-1-hotpink.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-hotpink.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-hotpink.btn-ef-1a.active {
    background-color: #FF0066;
}

.btn-ef.btn-ef-1.btn-ef-1-hotpink:after {
    background-color: #FF0066;
}

.btn-ef.btn-ef-1.btn-ef-1-drank {
    border-color: #A40778;
    color: #A40778;
}

.btn-ef.btn-ef-1.btn-ef-1-drank.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-drank.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-drank.btn-ef-1a.active {
    background-color: #A40778;
}

.btn-ef.btn-ef-1.btn-ef-1-drank:after {
    background-color: #A40778;
}

.btn-ef.btn-ef-1.btn-ef-1-blue {
    border-color: #418bca;
    color: #418bca;
}

.btn-ef.btn-ef-1.btn-ef-1-blue.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-blue.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-blue.btn-ef-1a.active {
    background-color: #418bca;
}

.btn-ef.btn-ef-1.btn-ef-1-blue:after {
    background-color: #418bca;
}

.btn-ef.btn-ef-1.btn-ef-1-lightred {
    border-color: #e05d6f;
    color: #e05d6f;
}

.btn-ef.btn-ef-1.btn-ef-1-lightred.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-lightred.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-lightred.btn-ef-1a.active {
    background-color: #e05d6f;
}

.btn-ef.btn-ef-1.btn-ef-1-lightred:after {
    background-color: #e05d6f;
}

.btn-ef.btn-ef-1.btn-ef-1-slategray {
    border-color: #3f4e62;
    color: #3f4e62;
}

.btn-ef.btn-ef-1.btn-ef-1-slategray.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-slategray.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-slategray.btn-ef-1a.active {
    background-color: #3f4e62;
}

.btn-ef.btn-ef-1.btn-ef-1-slategray:after {
    background-color: #3f4e62;
}

.btn-ef.btn-ef-1.btn-ef-1-darkgray {
    border-color: #333;
    color: #333;
}

.btn-ef.btn-ef-1.btn-ef-1-darkgray.btn-ef-1a:hover,
.btn-ef.btn-ef-1.btn-ef-1-darkgray.btn-ef-1a:active,
.btn-ef.btn-ef-1.btn-ef-1-darkgray.btn-ef-1a.active {
    background-color: #333;
}

.btn-ef.btn-ef-1.btn-ef-1-darkgray:after {
    background-color: #333;
}

.btn-ef.btn-ef-2 {
    background: #e6e6e6;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 3px;
    box-shadow: 0 3px;
    color: #616f77;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-2.btn-rounded {
    border-radius: 4px;
}

.btn-ef.btn-ef-2.btn-ef-2a:hover {
    top: 2px;
    -webkit-box-shadow: 0 1px;
    box-shadow: 0 1px;
}

.btn-ef.btn-ef-2.btn-ef-2a:active,
.btn-ef.btn-ef-2.btn-ef-2a.active {
    top: 3px;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

.btn-ef.btn-ef-2.btn-ef-2b:hover {
    top: -2px;
    -webkit-box-shadow: 0 5px;
    box-shadow: 0 5px;
}

.btn-ef.btn-ef-2.btn-ef-2b:active,
.btn-ef.btn-ef-2.btn-ef-2b.active {
    top: 3px;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

.btn-ef.btn-ef-2.btn-ef-2c {
    -webkit-box-shadow: -3px 0;
    box-shadow: -3px 0;
}

.btn-ef.btn-ef-2.btn-ef-2c:hover {
    left: -2px;
    -webkit-box-shadow: -1px 0;
    box-shadow: -1px 0;
}

.btn-ef.btn-ef-2.btn-ef-2c:active,
.btn-ef.btn-ef-2.btn-ef-2c.active {
    left: -3px;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

.btn-ef.btn-ef-2.btn-ef-2d {
    -webkit-box-shadow: 3px 0;
    box-shadow: 3px 0;
}

.btn-ef.btn-ef-2.btn-ef-2d:hover {
    left: 2px;
    -webkit-box-shadow: 1px 0;
    box-shadow: 1px 0;
}

.btn-ef.btn-ef-2.btn-ef-2d:active,
.btn-ef.btn-ef-2.btn-ef-2d.active {
    left: 3px;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

.btn-ef.btn-ef-2.btn-ef-2-primary {
    color: #428bca;
    background-color: #cde1f1;
}

.btn-ef.btn-ef-2.btn-ef-2-success {
    color: #5cb85c;
    background-color: #d8eed8;
}

.btn-ef.btn-ef-2.btn-ef-2-warning {
    color: #f0ad4e;
    background-color: #fceedb;
}

.btn-ef.btn-ef-2.btn-ef-2-danger {
    color: #d9534f;
    background-color: #f9e2e2;
}

.btn-ef.btn-ef-2.btn-ef-2-info {
    color: #5bc0de;
    background-color: #f0f9fc;
}

.btn-ef.btn-ef-2.btn-ef-2-cyan {
    color: #22beef;
    background-color: #e0f6fd;
}

.btn-ef.btn-ef-2.btn-ef-2-amethyst {
    color: #cd97eb;
    background-color: #f6edfb;
}

.btn-ef.btn-ef-2.btn-ef-2-green {
    color: #a2d200;
    background-color: #f5ffd2;
}

.btn-ef.btn-ef-2.btn-ef-2-orange {
    color: orange;
    background-color: #fff3cc;
}

.btn-ef.btn-ef-2.btn-ef-2-red {
    color: #ff4a43;
    background-color: #ffdddc;
}

.btn-ef.btn-ef-2.btn-ef-2-greensea {
    color: #16a085;
    background-color: #d5f9f2;
}

.btn-ef.btn-ef-2.btn-ef-2-dutch {
    color: #1693A5;
    background-color: #daf6fa;
}

.btn-ef.btn-ef-2.btn-ef-2-hotpink {
    color: #FF0066;
    background-color: #ffe5f0;
}

.btn-ef.btn-ef-2.btn-ef-2-drank {
    color: #A40778;
    background-color: #fdc7ee;
}

.btn-ef.btn-ef-2.btn-ef-2-blue {
    color: #418bca;
    background-color: #e1ecf6;
}

.btn-ef.btn-ef-2.btn-ef-2-lightred {
    color: #e05d6f;
    background-color: #f9dde1;
}

.btn-ef.btn-ef-2.btn-ef-2-slategray {
    color: #3f4e62;
    background-color: #b6c1d0;
}

.btn-ef.btn-ef-2.btn-ef-2-darkgray {
    color: #333;
    background-color: #a6a6a6;
}

.btn-ef.btn-ef-3.btn-default {
    background: #e2e2e2;
    color: #616f77;
}

.btn-ef.btn-ef-3.btn-default:hover {
    background: #c9c9c9;
}

.btn-ef.btn-ef-3.btn-default:active,
.btn-ef.btn-ef-3.btn-default.active {
    background: #bcbcbc;
}

.btn-ef.btn-ef-3.btn-default:focus {
    background: #e2e2e2;
    color: #616f77;
}

.btn-ef.btn-ef-3:active {
    top: 2px;
}

.btn-ef.btn-ef-3 > i {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 32px;
    font-size: 130%;
    width: 40px;
}

.btn-ef.btn-ef-3.btn-ef-3a {
    padding-left: 50px;
}

.btn-ef.btn-ef-3.btn-ef-3a > i {
    background: rgba(0, 0, 0, 0.05);
}

.btn-ef.btn-ef-3.btn-ef-3b {
    padding-left: 45px;
}

.btn-ef.btn-ef-3.btn-ef-3b > i {
    width: 36px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-ef.btn-ef-3.btn-ef-3c {
    padding-right: 45px;
    overflow: hidden;
}

.btn-ef.btn-ef-3.btn-ef-3c > i {
    left: auto;
    right: -6px;
    font-size: 12px;
    z-index: 2;
}

.btn-ef.btn-ef-3.btn-ef-3c:after {
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-ef.btn-ef-3.btn-ef-3c:hover:after {
    width: 40%;
}

.btn-ef.btn-ef-4 {
    overflow: hidden;
    padding: 6px 30px;
}

.btn-ef.btn-ef-4.btn-default {
    border: 2px solid #ccc;
}

.btn-ef.btn-ef-4.btn-default:hover {
    border: 2px solid #b3b3b3;
}

.btn-ef.btn-ef-4:active,
.btn-ef.btn-ef-4.active {
    top: 2px;
}

.btn-ef.btn-ef-4 > i {
    position: absolute;
    height: 100%;
    line-height: 32px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef.btn-ef-4.btn-ef-4a > i {
    left: 130%;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4a:hover > i {
    left: 80%;
}

.btn-ef.btn-ef-4.btn-ef-4b > i {
    left: 70%;
    opacity: 0;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4b:hover > i {
    left: 80%;
    opacity: 1;
}

.btn-ef.btn-ef-4.btn-ef-4c > i {
    left: -50%;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4c:hover > i {
    left: 10%;
}

.btn-ef.btn-ef-4.btn-ef-4d > i {
    left: 30%;
    opacity: 0;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4d:hover > i {
    left: 10%;
    opacity: 1;
}

.btn-ef.btn-ef-5 {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-ef.btn-ef-5.btn-default {
    border: 1px solid #ccc;
}

.btn-ef.btn-ef-5.btn-default:hover {
    border-color: #b3b3b3;
}

.btn-ef.btn-ef-5:active,
.btn-ef.btn-ef-5.active {
    top: 2px;
}

.btn-ef.btn-ef-5:active i,
.btn-ef.btn-ef-5.active i {
    color: white;
}

.btn-ef.btn-ef-5 span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-ef.btn-ef-5 i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 1.8;
    font-size: 130%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef.btn-ef-5.btn-ef-5a:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -o-transform: translateY(300%);
    transform: translateY(300%);
}

.btn-ef.btn-ef-5.btn-ef-5a:hover i {
    top: 0;
}

.btn-ef.btn-ef-5.btn-ef-5a i {
    left: 0;
    top: -100%;
}

.btn-ef.btn-ef-5.btn-ef-5b:hover span {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.btn-ef.btn-ef-5.btn-ef-5b:hover i {
    left: 0;
}

.btn-ef.btn-ef-5.btn-ef-5b i {
    left: -100%;
    top: 0;
}

.btn-ef.btn-ef-6 {
    border-width: 0;
    padding: 8px 14px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-6.btn-default {
    background: #e2e2e2;
    color: #616f77;
}

.btn-ef.btn-ef-6.btn-default:hover {
    background: #c9c9c9;
}

.btn-ef.btn-ef-6.btn-default:active,
.btn-ef.btn-ef-6.btn-default.active {
    background: #bcbcbc;
}

.btn-ef.btn-ef-6.btn-default:focus {
    background: #e2e2e2;
    color: #616f77;
}

.btn-ef.btn-ef-6:active,
.btn-ef.btn-ef-6.active {
    top: 2px;
}

.btn-ef.btn-ef-6:hover {
    padding: 6px 12px;
    border-width: 2px;
    background: transparent !important;
    color: #616f77;
}

.btn-ef.btn-ef-6.btn-ef-6a {
    border-style: solid;
}

.btn-ef.btn-ef-6.btn-ef-6b {
    border-style: dashed;
}

.btn-ef.btn-ef-6.btn-ef-6c {
    border-style: dotted;
}

.btn-ef.btn-ef-6.btn-ef-6d {
    padding: 10px 16px;
    border-style: double;
}

.btn-ef.btn-ef-6.btn-ef-6d:hover {
    border-width: 4px;
    padding: 6px 12px;
}

.btn-ef.btn-ef-7 {
    border: 1px solid;
    padding: 6px 16px 6px 40px;
}

.btn-ef.btn-ef-7:not(.btn-icon-only) i {
    color: rgba(255, 255, 255, 0.5);
}

.btn-ef.btn-ef-7.btn-default {
    border-color: #ccc;
}

.btn-ef.btn-ef-7.btn-default:not(.btn-icon-only) i {
    color: rgba(0, 0, 0, 0.5);
}

.btn-ef.btn-ef-7.btn-default:hover {
    border-color: #b3b3b3;
}

.btn-ef.btn-ef-7.btn-ef-7a {
    overflow: hidden;
}

.btn-ef.btn-ef-7.btn-ef-7a i {
    position: absolute;
    left: 0;
    width: 32%;
    font-size: 130%;
    line-height: 1.1;
}

.btn-ef.btn-ef-7.btn-ef-7a.btn-activated {
    -webkit-animation: fadeOutText 0.5s;
    -moz-animation: fadeOutText 0.5s;
    animation: fadeOutText 0.5s;
}

.btn-ef.btn-ef-7.btn-ef-7a.btn-activated i {
    -webkit-animation: moveToRight 0.5s;
    -moz-animation: moveToRight 0.5s;
    animation: moveToRight 0.5s;
}

.btn-ef.btn-ef-7.btn-ef-7b {
    overflow: hidden;
}

.btn-ef.btn-ef-7.btn-ef-7b i {
    position: absolute;
    left: 0;
    width: 28%;
    font-size: 130%;
    line-height: 1.1;
}

.btn-ef.btn-ef-7.btn-ef-7b.btn-activated i {
    -webkit-animation: scaleUp 0.5s;
    -moz-animation: scaleUp 0.5s;
    animation: scaleUp 0.5s;
}

.btn-ef.btn-ef-7.btn-ef-7c {
    overflow: hidden;
}

.btn-ef.btn-ef-7.btn-ef-7c i {
    z-index: 1;
}

.btn-ef.btn-ef-7.btn-ef-7c:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-7.btn-ef-7c.btn-activated:after {
    -webkit-animation: fillToRight 0.7s forwards;
    -moz-animation: fillToRight 0.7s forwards;
    animation: fillToRight 0.7s forwards;
}

.btn-ef.btn-ef-7.btn-ef-7d {
    overflow: hidden;
}

.btn-ef.btn-ef-7.btn-ef-7d i {
    z-index: 1;
}

.btn-ef.btn-ef-7.btn-ef-7d:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-7.btn-ef-7d.btn-activated:after {
    -webkit-animation: emptyBottom 0.7s forwards;
    -moz-animation: emptyBottom 0.7s forwards;
    animation: emptyBottom 0.7s forwards;
}

.btn-ef.btn-ef-7.btn-ef-7e i.after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 22px;
    line-height: 42px;
    color: #ea515e;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-7.btn-ef-7e.btn-activated i.after {
    -webkit-animation: scaleFade 0.5s forwards;
    -moz-animation: scaleFade 0.5s forwards;
    animation: scaleFade 0.5s forwards;
}

.btn-ef.btn-ef-7.btn-ef-7f i.after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 22px;
    line-height: 42px;
    color: #ffe44d;
    visibility: hidden;
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-7.btn-ef-7f.btn-activated i.after {
    visibility: visible;
    -webkit-animation: dropDown 0.3s forwards;
    -moz-animation: dropDown 0.3s forwards;
    animation: dropDown 0.3s forwards;
}

.btn-ef.btn-ef-7.btn-ef-7g i.after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 22px;
    line-height: 42px;
    color: #616f77;
    visibility: hidden;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-ef.btn-ef-7.btn-ef-7g.btn-activated i.after {
    visibility: visible;
    -webkit-animation: dropDownFade 0.5s forwards;
    -moz-animation: dropDownFade 0.5s forwards;
    animation: dropDownFade 0.5s forwards;
}

.btn-ef.btn-ef-7.btn-ef-7h span {
    display: inline-block;
    width: 100%;
}

.btn-ef.btn-ef-7.btn-ef-7h i {
    position: absolute;
    left: 0;
    width: 28%;
    font-size: 130%;
    line-height: 1.1;
}

.btn-ef.btn-ef-7.btn-ef-7h.btn-activated i {
    -webkit-animation: scaleUp 0.5s;
    -moz-animation: scaleUp 0.5s;
    animation: scaleUp 0.5s;
}

.btn-ef.btn-activated-success,
.btn-ef.btn-activated-error {
    color: transparent !important;
}

.btn-ef.btn-activated-success:after,
.btn-ef.btn-activated-error:after {
    z-index: 1;
    color: #fff;
    left: 40%;
}

.btn-ef.btn-activated-success .fa:before {
    content: "\f118";
}

.btn-ef.btn-activated-success:after {
    content: "Success!";
    -webkit-animation: moveUp 0.5s;
    -moz-animation: moveUp 0.5s;
    animation: moveUp 0.5s;
}

.btn-ef.btn-activated-error {
    -webkit-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
    animation: shake 0.5s;
}

.btn-ef.btn-activated-error .fa:before {
    content: "\f119";
}

.btn-ef.btn-activated-error:after {
    content: "Error!";
    -webkit-animation: scaleFromUp 0.5s;
    -moz-animation: scaleFromUp 0.5s;
    animation: scaleFromUp 0.5s;
}

button:focus {
    outline: 0 !important;
}

.btn {
    border-radius: 0;
    outline: 0 !important;
}

.btn.rounded-corners,
.btn.btn-rounded {
    border-radius: 4px;
}

.btn.rounded-corners.btn-lg,
.btn.btn-rounded.btn-lg {
    border-radius: 6px;
}

.btn.rounded-corners.btn-sm,
.btn.rounded-corners.btn-xs,
.btn.btn-rounded.btn-sm,
.btn.btn-rounded.btn-xs {
    border-radius: 3px;
}

.btn.btn-rounded-10 {
    border-radius: 10px;
}

.btn.btn-rounded-20 {
    border-radius: 20px;
}

.btn.btn-rounded-40 {
    border-radius: 40px;
}

.btn.btn-rounded-50p {
    border-radius: 50%;
}

.btn.no-border {
    border: 0;
}

.btn.btn-icon-only {
    font-size: 0;
    padding: 20px 25px;
    position: relative;
}

.btn.btn-icon-only i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 42px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn:focus,
.btn:active {
    outline: 0 !important;
}

.btn.btn-cyan {
    background-color: #22beef;
    color: white;
    border-color: #10acdd;
}

.btn.btn-cyan:hover,
.btn.btn-cyan:active,
.btn.btn-cyan.active {
    background-color: #10acdd;
    border-color: #0f9dca;
    color: white;
}

.btn.btn-cyan:active, .btn.btn-cyan.active {
    background-color: #0f9dca;
    border-color: #0e92bc;
}

.btn.btn-amethyst {
    background-color: #cd97eb;
    color: white;
    border-color: #c382e7;
}

.btn.btn-amethyst:hover,
.btn.btn-amethyst:active,
.btn.btn-amethyst.active {
    background-color: #c382e7;
    border-color: #ba71e4;
    color: white;
}

.btn.btn-amethyst:active,
.btn.btn-amethyst.active {
    background-color: #ba71e4;
    border-color: #b464e1;
}

.btn.btn-green {
    background-color: #a2d200;
    color: white;
    border-color: #96c300;
}

.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green.active {
    background-color: #96c300;
    border-color: #86ae00;
    color: white;
}

.btn.btn-green:active,
.btn.btn-green.active {
    background-color: #86ae00;
    border-color: #7b9f00;
}

.btn.btn-orange {
    background-color: #ffc100;
    color: white;
    border-color: #f0b500;
}

.btn.btn-orange:hover,
.btn.btn-orange:active,
.btn.btn-orange.active {
    background-color: #f0b500;
    border-color: #dba600;
    color: white;
}

.btn.btn-orange:active,
.btn.btn-orange.active {
    background-color: #dba600;
    border-color: #cc9a00;
}

.btn.btn-red {
    background-color: #ff4a43;
    color: white;
    border-color: #ff1910;
}

.btn.btn-red:hover,
.btn.btn-red:active,
.btn.btn-red.active {
    background-color: #ff1910;
    border-color: #e60900;
    color: white;
}

.btn.btn-red:active,
.btn.btn-red.active {
    background-color: #e60900;
    border-color: #d70800;
}

.btn.btn-greensea {
    background-color: #16a085;
    color: white;
    border-color: #138a72;
}

.btn.btn-greensea:hover,
.btn.btn-greensea:active,
.btn.btn-greensea.active {
    background-color: #138a72;
    border-color: #107863;
    color: white;
}

.btn.btn-greensea:active,
.btn.btn-greensea.active {
    background-color: #107863;
    border-color: #0f6a58;
}

.btn.btn-dutch {
    background-color: #1693A5;
    color: white;
    border-color: #137f8f;
}

.btn.btn-dutch:hover,
.btn.btn-dutch:active,
.btn.btn-dutch.active {
    background-color: #137f8f;
    border-color: #116f7d;
    color: white;
}

.btn.btn-dutch:active,
.btn.btn-dutch.active {
    background-color: #116f7d;
    border-color: #0f636f;
}

.btn.btn-hotpink {
    background-color: #FF0066;
    color: white;
    border-color: #e6005c;
}

.btn.btn-hotpink:hover,
.btn.btn-hotpink:active,
.btn.btn-hotpink.active {
    background-color: #e6005c;
    border-color: #d10054;
    color: white;
}

.btn.btn-hotpink:active,
.btn.btn-hotpink.active {
    background-color: #d10054;
    border-color: #c2004e;
}

.btn.btn-drank {
    background-color: #A40778;
    color: white;
    border-color: #8c0666;
}

.btn.btn-drank:hover,
.btn.btn-drank:active,
.btn.btn-drank.active {
    background-color: #8c0666;
    border-color: #780558;
    color: white;
}

.btn.btn-drank:active,
.btn.btn-drank.active {
    background-color: #780558;
    border-color: #69044d;
}

.btn.btn-blue {
    background-color: #418bca;
    color: white;
    border-color: #357ebd;
}

.btn.btn-blue:hover,
.btn.btn-blue:active,
.btn.btn-blue.active {
    background-color: #357ebd;
    border-color: #3074ad;
    color: white;
}

.btn.btn-blue:active,
.btn.btn-blue.active {
    background-color: #3074ad;
    border-color: #2d6ca1;
}

.btn.btn-lightred {
    background-color: #e05d6f;
    color: white;
    border-color: #dc485c;
}

.btn.btn-lightred:hover,
.btn.btn-lightred:active,
.btn.btn-lightred.active {
    background-color: #dc485c;
    border-color: #d9364d;
    color: white;
}

.btn.btn-lightred:active,
.btn.btn-lightred.active {
    background-color: #d9364d;
    border-color: #d62a41;
}

.btn.btn-slategray {
    background-color: #3f4e62;
    color: white;
    border-color: #354252;
}

.btn.btn-slategray:hover,
.btn.btn-slategray:active,
.btn.btn-slategray.active {
    background-color: #354252;
    border-color: #2d3846;
    color: white;
}

.btn.btn-slategray:active,
.btn.btn-slategray.active {
    background-color: #2d3846;
    border-color: #27303d;
}

.btn.btn-darkgray {
    background-color: #333;
    color: white;
    border-color: #262626;
}

.btn.btn-darkgray:hover,
.btn.btn-darkgray:active,
.btn.btn-darkgray.active {
    background-color: #262626;
    border-color: #1c1c1c;
    color: white;
}

.btn.btn-darkgray:active,
.btn.btn-darkgray.active {
    background-color: #1c1c1c;
    border-color: #141414;
}

.btn.btn-default {
    color: #616f77;
    border-color: #cdd3d7;
}

.btn.btn-default:focus {
    background-color: white;
    border-color: #b1bac0;
}

.btn.btn-default:hover {
    background-color: #f2f3f4;
}

.btn.btn-default:active,
.btn.btn-default.active {
    background-color: #eaeced;
}

.btn.btn-primary:focus {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn.btn-primary:hover {
    background-color: #3071a9;
}

.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: #2a6496;
}

.btn.btn-success:focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn.btn-success:hover {
    background-color: #449d44;
}

.btn.btn-success:active,
.btn.btn-success.active {
    background-color: #3d8b3d;
}

.btn.btn-warning:focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn.btn-warning:hover {
    background-color: #ec971f;
}

.btn.btn-warning:active,
.btn.btn-warning.active {
    background-color: #df8a13;
}

.btn.btn-danger:focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn.btn-danger:hover {
    background-color: #c9302c;
}

.btn.btn-danger:active,
.btn.btn-danger.active {
    background-color: #b52b27;
}

.btn.btn-info:focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn.btn-info:hover {
    background-color: #31b0d5;
}

.btn.btn-info:active,
.btn.btn-info.active {
    background-color: #28a1c5;
}

.btn.btn-border {
    background-color: transparent;
    border: 2px solid;
}

.btn.btn-border:hover,
.btn.btn-border:active,
.btn.btn-border.active,
.btn.btn-border:focus {
    background-color: transparent;
}

.btn.btn-border.btn-xs,
.btn.btn-border.btn-sm {
    border-width: 1px;
}

.btn.btn-border.btn-cyan {
    color: #22beef;
}

.btn.btn-border.btn-cyan:hover,
.btn.btn-border.btn-cyan:active,
.btn.btn-border.btn-cyan.active {
    color: #0f9dca;
}

.btn.btn-border.btn-amethyst {
    color: #cd97eb;
}

.btn.btn-border.btn-amethyst:hover,
.btn.btn-border.btn-amethyst:active,
.btn.btn-border.btn-amethyst.active {
    color: #ba71e4;
}

.btn.btn-border.btn-green {
    color: #a2d200;
}

.btn.btn-border.btn-green:hover,
.btn.btn-border.btn-green:active,
.btn.btn-border.btn-green.active {
    color: #86ae00;
}

.btn.btn-border.btn-orange {
    color: #ffc100;
}

.btn.btn-border.btn-orange:hover,
.btn.btn-border.btn-orange:active,
.btn.btn-border.btn-orange.active {
    color: #dba600;
}

.btn.btn-border.btn-red {
    color: #ff4a43;
}

.btn.btn-border.btn-red:hover,
.btn.btn-border.btn-red:active,
.btn.btn-border.btn-red.active {
    color: #e60900;
}

.btn.btn-border.btn-greensea {
    color: #16a085;
}

.btn.btn-border.btn-greensea:hover,
.btn.btn-border.btn-greensea:active,
.btn.btn-border.btn-greensea.active {
    color: #107863;
}

.btn.btn-border.btn-dutch {
    color: #1693A5;
}

.btn.btn-border.btn-dutch:hover,
.btn.btn-border.btn-dutch:active,
.btn.btn-border.btn-dutch.active {
    color: #116f7d;
}

.btn.btn-border.btn-hotpink {
    color: #FF0066;
}

.btn.btn-border.btn-hotpink:hover,
.btn.btn-border.btn-hotpink:active,
.btn.btn-border.btn-hotpink.active {
    color: #d10054;
}

.btn.btn-border.btn-drank {
    color: #A40778;
}

.btn.btn-border.btn-drank:hover,
.btn.btn-border.btn-drank:active,
.btn.btn-border.btn-drank.active {
    color: #780558;
}

.btn.btn-border.btn-blue {
    color: #418bca;
}

.btn.btn-border.btn-blue:hover,
.btn.btn-border.btn-blue:active,
.btn.btn-border.btn-blue.active {
    color: #3074ad;
}

.btn.btn-border.btn-lightred {
    color: #e05d6f;
}

.btn.btn-border.btn-lightred:hover,
.btn.btn-border.btn-lightred:active,
.btn.btn-border.btn-lightred.active {
    color: #d9364d;
}

.btn.btn-border.btn-slategray {
    color: #3f4e62;
}

.btn.btn-border.btn-slategray:hover,
.btn.btn-border.btn-slategray:active,
.btn.btn-border.btn-slategray.active {
    color: #2d3846;
}

.btn.btn-border.btn-darkgray {
    color: #333;
}

.btn.btn-border.btn-darkgray:hover,
.btn.btn-border.btn-darkgray:active,
.btn.btn-border.btn-darkgray.active {
    color: #1c1c1c;
}

.btn.btn-border.btn-primary {
    color: #428bca;
}

.btn.btn-border.btn-primary:hover,
.btn.btn-border.btn-primary:active,
.btn.btn-border.btn-primary.active {
    color: #245682;
}

.btn.btn-border.btn-success {
    color: #5cb85c;
}

.btn.btn-border.btn-success:hover,
.btn.btn-border.btn-success:active,
.btn.btn-border.btn-success.active {
    color: #357935;
}

.btn.btn-border.btn-warning {
    color: #f0ad4e;
}

.btn.btn-border.btn-warning:hover,
.btn.btn-border.btn-warning:active,
.btn.btn-border.btn-warning.active {
    color: #c77c11;
}

.btn.btn-border.btn-danger {
    color: #d9534f;
}

.btn.btn-border.btn-danger:hover,
.btn.btn-border.btn-danger:active,
.btn.btn-border.btn-danger.active {
    color: #a02622;
}

.btn.btn-border.btn-info {
    color: #5bc0de;
}

.btn.btn-border.btn-info:hover,
.btn.btn-border.btn-info:active,
.btn.btn-border.btn-info.active {
    color: #2390b0;
}

.btn.btn-border.btn-white {
    color: #fff;
    border-color: white;
}

.btn.btn-border.btn-white:hover,
.btn.btn-border.btn-white:active,
.btn.btn-border.btn-white.active {
    background-color: rgba(255, 255, 255, 0.1);
}