.ui-select-bootstrap > .ui-select-match {
    border-color: #dbe0e2 !important;
    border-radius: 2px;
}

.ui-select-bootstrap > .ui-select-match > span:first-of-type {
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
}

.ui-select-bootstrap > .ui-select-match > span:nth-of-type(2) > a {
    position: absolute;
    right: 35px;
    top: 7px;
    font-size: 10px;
    padding: 2px;
    color: #bfc7cb;
}

.ui-select-bootstrap > .ui-select-match > span:nth-of-type(2) > a:hover {
    color: #428bca;
}

.ui-select-bootstrap .ui-select-match-item.btn-primary {
    color: white;
}

.ui-select-choices .ui-select-choices-row {
    padding: 0;
}

.ui-select-choices .ui-select-choices-row > a {
    color: #616f77;
    font-size: 12px;
}

.ui-select-choices .ui-select-choices-row.active > a {
    background: #798992;
}

.ui-select-multiple.ui-select-bootstrap.open {
    border-color: #22beef;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    line-height: .8;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search::-webkit-input-placeholder {
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    padding: 0 7px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search::-moz-placeholder {
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    padding: 0 7px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search:-moz-placeholder {
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    padding: 0 7px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search:-ms-input-placeholder {
    color: #bfc7cb;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    padding: 0 7px;
}

.ui-select-multiple.ui-select-bootstrap.underline-input input.ui-select-search::-webkit-input-placeholder {
    padding: 0;
}

.ui-select-multiple.ui-select-bootstrap.underline-input input.ui-select-search::-moz-placeholder {
    padding: 0;
}

.ui-select-multiple.ui-select-bootstrap.underline-input input.ui-select-search:-moz-placeholder {
    padding: 0;
}

.ui-select-multiple.ui-select-bootstrap.underline-input input.ui-select-search:-ms-input-placeholder {
    padding: 0;
}